* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::selection {
  color: #fff;
  background-color: black;
}

html,
body {
  height: 100%;
  width: 100%;
}

#page1 {
  min-height: 100vh;
  width: 100%;
  position: relative;
  padding: 0 1vw;
  padding-top: 10vh;
}

#page1 h1 {
  font-size: 15vw;
  text-transform: uppercase;
  font-family: "Futura";
  line-height: 15vw;
  letter-spacing: -6px;
}
#video-container {
  height: 100vh;
  width: 100%;
  background-color: grey;
  position: relative;
}

#video-container video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#video-container #play {
  padding: 3vw 2.2vw;
  background-color: black;
  color: #fff;
  font-family: futura;
  font-size: 1.3vw;
  position: fixed;
  border-radius: 50%;
  text-transform: uppercase;
  opacity: 0;
  scale: 0;
}

#page2 {
  min-height: 100vh;
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  padding: 3vw 1vw;
  justify-content: space-between;
}
#page2 .elem {
  height: 100%;
  width: 33%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.elem .dets {
  height: 8vh;
  width: 35vh;
  background-color: palegoldenrod;
  position: absolute;
  border-radius: 50px;
}

.elem .dets:hover {
  height: 200px;
}

#page2 .elem img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  scale: 1.1;
}

#page3 {
  min-height: 100vh;
  width: 100%;
  background-color: #f7f7f7;
}

@media (max-width: 450px) {
  #page1 h1 {
    font-size: 14vw;
    line-height: 15.5vw;
    letter-spacing: -5px;
  }

  #page1 {
    min-height: 70vh;
    padding: 0 1.5vw;
    padding-top: 10vh;
  }

  #video-container {
    height: 60vh;
    width: 100%;
    background-color: grey;
    position: relative;
  }

  #video-container #play {
    padding: 8vw 6vw;
    top: 50%;
    left: 50%;
    font-size: 3.5vw;
    position: absolute;
    opacity: 1;
    scale: 1;
    transform: translate(-50%, -50%);
    /* display: hidden; */
  }

  #page2 {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    padding: 5vw 3vw;
    justify-content: space-between;
  }

  #page2 .elem {
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin-bottom: 4vh;
  }

  #page2 .elem img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    scale: 1.1;
  }
}
